<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<table>
    <tr>
        <th>name</th>
        <th>age</th>
        <th>email</th>
        <th>role</th>
    </tr>

    <tr th:each="msg :${messages}">

        <td th:text="${msg.name}"></td>
        <td th:text="${msg.age}"></td>
        <td th:text="${msg.email}"></td>
        <td th:text="${msg.roles}"></td>
        <br>
    </tr>
</table>

        <input type="button" value="logout"
               onclick="window.location.href = '/logout'"/>

</body>
</html>